<div class="container jumbotron">
    <div class="row">
      <div class="col-md-3"><h4>Información</h4>
        <br>
        <p>Direccion</p>
        <p>Telefoto</p>
        <p>Correo</p>
        <p>Redes sociales</p>
      </div>
      <div class="col-md-3"><strong>Somos una empresa</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, voluptates recusandae voluptatum porro voluptas in at, optio distinctio officia accusantium, iste temporibus odio iure cumque quos alias adipisci asperiores deserunt?</div>
      <div class="col-md-3"><h4>Mapa del sitio</h4>
        <br>
        <p>Inicio</p>
        <p>Productos</p>
        <p>Agenda tu cita</p>
        <p>Promociones</p>
        <p>¿Quienes somos?</p>
        <p>Contactenos</p>
      </div>
      <div class="col-md-3"><img class="logo" src="/assets/logo.png" alt=""></div>
    </div>
</div>