<app-barra-navegacion></app-barra-navegacion>


    <div class="row contenedor-contactenos">
        <div class="col-md-6">
            <div class="text-center" style="margin: 50px;">
                <h3>Como llegar !</h3>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13417.062553461965!2d-77.2710435218366!3d1.2181875408315248!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1558558259836!5m2!1ses!2sco" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="col-md-6 formulario-contactenos">
            <div class="text-center" style="margin: 50px;">
                <h3>Contactenos !</h3>
            </div>

            <form action="">
                    <div class="row">
                            <div class="col form-group">
                               <input type="text" class="form-control" placeholder="Nombres">
                            </div>
                            <div class="col form-group">
                                <input type="text" class="form-control" placeholder="No. Identificación">
                            </div>
                        </div>
    
                        <div class="row">
                                <div class="col form-group">
                                   <input type="text" class="form-control" placeholder="Apellidos">
                                </div>
                                <div class="col form-group">
                                    <input type="email" class="form-control" placeholder="Correo electronico">
                                </div>
                        </div>
    
                        <div class="row">
                                <div class="col form-group">
                                   <select class="form-control" name="" id="">
                                   <option value="" disabled selected>Departamento</option>
                                   <option value="">Narino</option>
                                   </select>
                                </div>
                                <div class="col form-group">
                                    <select class="form-control" name="" id="">
                                    <option value="" disabled selected>Municipio</option>
                                    <option value="">Pasto</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="row">
                                    <div class="col form-group">
                                       <input type="text" class="form-control" placeholder="Telefono o celular">
                                    </div>
                                    <div class="col form-group">
                                            <input type="text" class="form-control" placeholder="Asunto">
                                         </div>
                            </div>
    
                            <div class="form-group">
                                <textarea style="max-width: 100%;" class="form-control" name="" id="" placeholder="Mensaje"></textarea>
                            </div>
    
                            <div class="text-center">
                                    <button type="button" class="btn btn-lg btn-primary">Enviar Mensaje</button>
                            </div>


            </form>
        </div>
    </div>


    <app-footer></app-footer>